.sideMenu {
    display: flex;
    align-items: center;
    background-color: #1D1D1D;
    width: 15%;
    min-height: 100vh;
    flex-direction: column;
    transition: width 0.3s ease;
  }
  
  /* Ajuste para pantallas menores de 1500px */
  @media (max-width: 1500px) {
    .sideMenu {
      width: 20%; /* Ajusta el ancho a un 20% cuando la pantalla es menor a 1500px */
    }
  }
  
  /* Ajuste para pantallas menores de 1200px */
  @media (max-width: 1200px) {
    .sideMenu {
      width: 25%; /* Aumenta el ancho del menú lateral para pantallas más pequeñas */
    }
  }
  
  .accesible {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #272727;
    width: 20vh;
    height: 5vh;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: width 0.3s ease, gap 0.3s ease;
  }

  .accesible img{
    cursor: pointer;
    width: 3vh;
    height: 3vh;
  }

  .accesible img:hover{
    scale: 1.05;
  }
  
  /* Ajuste para pantallas menores de 1500px */
  @media (max-width: 1500px) {
    .accesible {
      width: 18vh;
      gap: 40px;
    }
  }
  
  /* Ajuste para pantallas menores de 1200px */
  @media (max-width: 1200px) {
    .accesible {
      width: 16vh;
      gap: 30px;
    }
  }
  
  
  .settings {
    width: 30px;
    height: 30px;
  }
  
  .menuFeatures {
    width: 25vh;
    min-height: 45vh;
    margin-top: 10px;
    filter: drop-shadow(2px 2px 2px black);
    background-color: #272727;
    border-radius: 20px;
    color: white;
    transition: width 0.3s ease;
  }
  
  /* Ajuste para pantallas menores de 1500px */
  @media (max-width: 1500px) {
    .menuFeatures {
      width: 25vh;
    }
  }
  
  /* Ajuste para pantallas menores de 1200px */
  @media (max-width: 1200px) {
    .menuFeatures {
      width: 20vh;
    }
  }
  
  .separatorTop {
    width: 25vh;
    height: 20px;
    background-color: #ACFFAF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: width 0.3s ease;
  }
  
  /* Ajuste para pantallas menores de 1500px */
  @media (max-width: 1500px) {
    .separatorTop {
      width: 25vh;
    }
  }
  
  /* Ajuste para pantallas menores de 1200px */
  @media (max-width: 1200px) {
    .separatorTop {
      width: 25vh;
    }
  }
  
  .featuresBtns {
    width: 25 vh;
    height: 20vh;
    background-color: #272727;
    transition: width 0.3s ease, height 0.3s ease;
  }
  
  /* Ajuste para pantallas menores de 1500px */
  @media (max-width: 1500px) {
    .featuresBtns {
      width: 25vh;
      height: 25vh;
    }
  }
  
  /* Ajuste para pantallas menores de 1200px */
  @media (max-width: 1200px) {
    .featuresBtns {
      width: 25vh;
      height: 16vh;
    }
  }
  
  .featuresBtns div {
    margin: 25px;
    cursor: pointer;
  }

  .featuresBtns div:hover{
    scale: 1.05;
  }
  
  .separatorBot {
    width: 25vh;
    height: 20px;
    background-color: #ACFFAF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    bottom: 0%;
    transition: width 0.3s ease;
  }
  
  /* Ajuste para pantallas menores de 1500px */
  @media (max-width: 1500px) {
    .separatorBot {
      width: 25vh;
    }
  }
  
  /* Ajuste para pantallas menores de 1200px */
  @media (max-width: 1200px) {
    .separatorBot {
      width: 20vh;
    }
  }
  
  img {
    width: 30px;
    height: 30px;
  }

  .ShecWater{
    margin-top: 100px;
    width: 200px;
    height: 200px;
  }
  .mainContent {
    flex-grow: 1; /* Ocupa todo el espacio restante al lado del menú */
    padding: 20px;
    overflow: auto; /* Asegura que el contenido pueda desplazarse si es necesario */
}

.layoutContainer {
    display: flex;
    height: 100vh; /* Altura de la pantalla completa */
}