<div class="signup-container">

    <div class="left-panel">
      <img src="/logo.png" alt="imagen">
    </div>

    <div class="right-panel">
      <h2>Registrate</h2>
      <h5>Intenta que todos tus datos sean seguros y no los compartas con nadie</h5>
      <form>
        
          <input type="email" id="email" name="email" placeholder="nombre">
          <input type="email" id="email" name="email" placeholder="email">
          <input type="email" id="email" name="email" placeholder="estrato">
          <input type="password" id="password" name="password" placeholder="contraseña">
          <input type="password" id="password" name="password" placeholder="confirmar contraseña">
  
        <a [routerLink]="['/sign-up']"  class="continuar">continuar</a>

        <div class="separator"></div>
        <label> ¿Ya tienes cuenta?</label>
        <a [routerLink]="['/sign-up']"  class="primary">Inicia sesion</a>
      </form>
    </div>
  </div>
  