<div class="signup-container">
  <div class="left-panel">
    <img src="/logo.png" alt="imagen">
  </div>
  <div class="right-panel">
    <h2>Inicia sesión</h2>
    <h5>En caso de no tener una cuenta, regístrate</h5>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input type="email" id="email" formControlName="email" placeholder="email">
      <input type="password" id="password" formControlName="password" placeholder="contraseña">
      <button type="submit" class="continuar">Continuar</button>
      <div class="separator"></div>
      <label>¿No tienes una cuenta?</label>
      <a [routerLink]="['/sign-up']" class="primary">Regístrate</a>
    </form>
  </div>
</div>
