/* You can add global styles to this file, and also import other style files */
html{
    width: 100%;
    height: 100%;
    scrollbar-width: none; /*Firefox, Opera, Chrome y Edge*/
    overflow: hidden;
}
body {
    background-color: rgb(10, 10, 10);
    margin: 0;
    height: 100vh;
    height: 100%;
    scrollbar-width: none; /*Firefox, Opera, Chrome y Edge*/
  }


  