<header >
    <div class="container">
      <div class="row align-items-center">
        <!-- Logo -->
        <div class="col-md-3 d-flex justify-content-start">
          <div class="logo"></div>
        </div>
        
        <!-- Barra de búsqueda -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="search-bar">
            <label class="">Acerca de SHEC</label>
            <label class="">Productos</label>
            <label class="">Asesorias</label>
            
          </div>
        </div>
        
      </div>
    </div>
  </header>
  