.landingContainer{
    overflow:hidden;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    scrollbar-width: none; /*Firefox, Opera, Chrome y Edge*/
  }
  
  .landingImage{
    background-repeat: no-repeat;
    overflow:hidden;
    padding-top: 100px;
    width: 100vh;
    height: 90vh;
  }
  
  